<div class="sample addComment">
<h2 class="part heading"><img src="/assets/icon/add_comment001.png" width="23"  height="23" alt="" class="icon" />アプリのコンテンツにコメントする</h2>

<div class="part description">
<div class="inner">
<p>アプリ内の任意のコンテンツにコメントできます。</p>
<p>例）アプリの写真にコメントする。</p>
</div>
</div>

<div class="part body">
<div class="illustration">
<img src="/assets/illustration/add_comment001.jpg" width="320"  height="170" alt="" />
</div>
<div class="sampleForm">
<dl>
<dt>コメント：</dt>
<dd><textarea id="pageComment">クリームたっぷりでおいしそうですねっ☆</textarea></dd>
</dl>
</div>

<div class="submit">
<a id="btnComment" href="#"><img src="/assets/button/add_comment001.png" width="257"  height="65" alt="コメントを登録する"/></a>
</div>

<!--/body--></div>

<div class="part seeMore">
<a href="http://developer.mixi.co.jp/page-apps/spec/page-api/" target="_blank">
このAPIについて詳しく見る<img src="/assets/icon/target_blank001.gif" width="10" height="10" alt="別ウィンドウで開く" /></a>
</div>
<div class="part return">
<a id="btnGoToMenu" href="#"><img src="/assets/button/return001.png" alt="もどる" width="57" height="31" /></a>
</div>
<!--/sample--></div>
