<div class="sample showFriends">
<h2 class="part heading"><img src="/assets/icon/show_friends001.png" width="23"  height="23" alt="" class="icon" />友人一覧を表示</h2>

<div class="part description">
<div class="inner">
<p>友人のニックネームなどの情報を取得できます。</p>
<p>例）サムネイル画像の一覧を表示する。</p>
</div>
<!--/description--></div>

<div class="part body">
<div class="illustration">
<img src="/assets/illustration/show_friends001.jpg" width="320"  height="185" alt="" />
</div>

<div class="submit">
<a id="btnFriends" href="#"><img src="/assets/button/show_friends001.png" width="257"  height="65" alt="友人一覧を表示" /></a>
</div>

<!--/body--></div>

<div class="part seeMore">
<a href="http://developer.mixi.co.jp/connect/mixi_graph_api/mixi_io_spec_top/people-api/" target="_blank">
このAPIについて詳しく見る<img src="/assets/icon/target_blank001.gif" width="10" height="10" alt="別ウィンドウで開く" /></a>
</div>

<div class="part return">
<a id="btnGoToMenu" href="#"><img src="/assets/button/return001.png" alt="もどる" width="57" height="31" /></a>
</div>
<!--/sample--></div>
