<div class="index">
<h2 class="heading">mixi API Quick Start メニュー</h2>
<ul class="itemList">
<li class="item"><a href="#" id="btnGoToFriends"><img src="/assets/panel/show_friends001.png" width="148" height="114" alt="友人一覧を表示" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToVoice"><img src="/assets/panel/add_voice001.png" width="148" height="114" alt="つぶやきを投稿" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToCalendar"><img src="/assets/panel/add_schedule001.png" width="148" height="114" alt="カレンダーに予定を登録" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToMessage"><img src="/assets/panel/send_message001.png" width="148" height="114" alt="友人にメッセージを送信" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToPhoto"><img src="/assets/panel/add_media001.png" width="148" height="114" alt="写真をアルバムに登録" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToFollowers"><img src="/assets/panel/show_followers001.png" width="148" height="114" alt="ページをフォローしている友人一覧を表示" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToComment"><img src="/assets/panel/add_comment001.png" width="148" height="114" alt="アプリのコンテンツにコメントする" class="panel" /></a></li>
<li class="item"><a href="#" id="btnGoToLike"><img src="/assets/panel/add_iine001.png" width="148" height="114" alt="アプリのコンテンツにイイネする" class="panel" /></a></li>
</ul>
<!--/index--></div>
