<div class="sample sendMessage">
<h2 class="part heading"><img src="/assets/icon/send_message001.png" width="23"  height="23" alt="" class="icon" />友人にメッセージを送信</h2>
<div class="part description">
<div class="inner">
<p>友人にメッセージを送ることができます。</p>
<p>例）友人をこのページやアプリへ誘う。</p>
</div>
<!--/description--></div>

<div class="part body">

<div class="illustration">
<img src="/assets/illustration/send_message001.png" width="320"  height="42" alt="" />
<p class="thumbnail sender"><img src="${thumbnailUrl}" alt="${displayName}" /></p>
<p id="btnMessageFriends" class="thumbnail recever">
<a href="#"><img id="selectedUserImg" src="http://img.mixi.net/img/basic/common/noimage_member180.gif" alt="クリックしてください" /></a>
<input type="hidden" id="selectedUserId" value="" /></p>
</div>

<div class="sampleForm">
<dl>
<dt>メッセージ作成：</dt>
<dd><input id="msgTitle" type="text" value="○○のライブチケット" /></dd>
<dd><textarea id="msgBody">○○のmixiページでライブチケットが当たるキャンペーンやってたよ～(ﾉ*ﾟ▽ﾟ)ﾉ 試してみたら？！</textarea></dd>
</dl>
</div>

<div class="submit">
<a id="btnMessage" href="#"><img src="/assets/button/send_message001.png" width="257"  height="65" alt="メッセージを送る"/></a>
</div>

<!--/body--></div>

<div class="part seeMore">
<a href="http://developer.mixi.co.jp/connect/mixi_graph_api/mixi_io_spec_top/message-api/" target="_blank">
このAPIについて詳しく見る<img src="/assets/icon/target_blank001.gif" width="10" height="10" alt="別ウィンドウで開く" /></a>
</div>
<div class="part return">
<a id="btnGoToMenu" href="#"><img src="/assets/button/return001.png" alt="もどる" width="57" height="31" /></a>
</div>
<!--/sample--></div>
