<div class="sample addVoice">
<h2 class="part heading"><img src="/assets/icon/add_voice001.png" width="23"  height="23" alt="" class="icon" />つぶやきを投稿</h2>
<div class="part description">
<div class="inner">
<p>つぶやいてボイスのタイムラインに投稿できます。</p>
<p>例）アプリで商品を購入したことをつぶやく。</p>
</div>
<!--/description--></div>

<div class="part body">
<div class="illustration">
<img src="/assets/illustration/add_voice001.jpg" width="320"  height="185" alt="" />
<p class="thumbnail"><img src="${thumbnailUrl}" alt="${displayName}" />
<div class="sampleForm">
<input id="voiceStatus" type="text" value="ラベンダーのアロマオイル買ったよ！" />
</div>
</div>

<div class="submit">
<a id="btnVoice" href="#"><img src="/assets/button/add_voice001.png" width="257"  height="65" alt="つぶやく"/></a>
</div>

<!--/body--></div>

<div class="part seeMore">
<a href="http://developer.mixi.co.jp/connect/mixi_graph_api/mixi_io_spec_top/voice-api/" target="_blank">
このAPIについて詳しく見る<img src="/assets/icon/target_blank001.gif" width="10" height="10" alt="別ウィンドウで開く" /></a>
</div>
<div class="part return">
<a id="btnGoToMenu" href="#"><img src="/assets/button/return001.png" alt="もどる" width="57" height="31" /></a>
</div>
<!--/sample--></div>
